$background-color: #0B0C10;
$background-second-color: #1F2833;

$primary-color: #DBE8D4;
$opposite-color: #D4DBE8;
$complementary-color: #E1D4E8;
$white: #FFF;

$tablet-width: 641px;
$desktop-width: 1025px;