#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  h2 {
    font-size: 4rem;
    margin-top: 1em;
    padding-bottom: 2rem;
    border-bottom: 2px solid $primary-color;
  }
  .container {
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      margin: auto;
    }

    li {
      display: inline-block;
      margin: 0.5em;
      vertical-align: middle;
      @include desktop {
        margin: 2em;
      }
      a {
        position: relative;
        display: flex;
        align-items: center;
        background-color: gray;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border: 1px solid $primary-color;
        width: 8rem;
        height: 8rem;
        text-decoration: none;
        @include desktop {
          width: 15rem;
          height: 15rem;
        }
        &:hover {
          opacity: 1;
          &::before {
            background-color: rgba($color: $background-color, $alpha: 0);
          }
          .project-title {
            opacity: 0;
          }
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          background-color: rgba($color: $background-color, $alpha: 0.7);
          transition: background-color 0.3s ease;
        }
        .project-title {
          position: relative;
          display: block;
          width: 100%;
          font-weight: 700;
          opacity: 1;
          color: $white;
          text-align: center;
          text-shadow: 0 1px 0 #110d17, 0 -1px 0 #110d17, 1px 0 0 #110d17,
            -1px 0 0 #110d17;
          transition: opacity 0.5s ease;
        }
      }
    }
  }
}
