#resume {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 90%;
  margin: auto;
  scroll-behavior: smooth;
  a{
    margin: 2em auto;
    padding: 1rem;
    border: thick double $primary-color;
    img{
      width: 297px;
    }
  }
}
